In [1]:
# Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [2]:
# read csv with date columns formated as datetime64

df = pd.read_csv("data/Crime_Data_from_2010_to_Present.csv", parse_dates=['Date Reported', 'Date Occurred'], low_memory=True)

In [3]:
# display data type format for each column
df.dtypes

DR Number                          int64
Date Reported             datetime64[ns]
Date Occurred             datetime64[ns]
Time Occurred                      int64
Area ID                            int64
Area Name                         object
Reporting District                 int64
Crime Code                         int64
Crime Code Description            object
MO Codes                          object
Victim Age                       float64
Victim Sex                        object
Victim Descent                    object
Premise Code                     float64
Premise Description               object
Weapon Used Code                 float64
Weapon Description                object
Status Code                       object
Status Description                object
Crime Code 1                     float64
Crime Code 2                     float64
Crime Code 3                     float64
Crime Code 4                     float64
Address                           object
Cross Street                      object
Location                          object
dtype: object

In [5]:
# displays count of rows and columns
df.shape

(1876645, 26)

In [7]:
# display top 10 rows
df.head(10)

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
0,1208575,2013-03-14,2013-03-11,1800,12,77th Street,1241,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 0446 1243 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,626.0,NaN,NaN,NaN,6300 BRYNHURST AV,NaN,"(33.9829, -118.3338)"
1,102005556,2010-01-25,2010-01-22,2300,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,VAN NESS,15TH,"(34.0454, -118.3157)"
2,418,2013-03-19,2013-03-18,2030,18,Southeast,1823,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E 104TH ST,NaN,"(33.942, -118.2717)"
3,101822289,2010-11-11,2010-11-10,1800,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,88TH,WALL,"(33.9572, -118.2717)"
4,42104479,2014-01-11,2014-01-04,2300,21,Topanga,2133,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329,...,NaN,IC,Invest Cont,745.0,NaN,NaN,NaN,7200 CIRRUS WY,NaN,"(34.2009, -118.6369)"
5,120125367,2013-01-08,2013-01-08,1400,1,Central,111,110,CRIMINAL HOMICIDE,1243 2000 1813 1814 2002 0416 0400,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,110.0,NaN,NaN,NaN,600 N HILL ST,NaN,"(34.0591, -118.2412)"
6,101105609,2010-01-28,2010-01-27,2230,11,Northeast,1125,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,YORK,AVENUE 51,"(34.1211, -118.2048)"
7,101620051,2010-11-11,2010-11-07,1600,16,Foothill,1641,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,EL DORADO,TRUESDALE,"(34.241, -118.3987)"
8,101910498,2010-04-07,2010-04-07,1600,19,Mission,1902,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,GLENOAKS,DRELL,"(34.3147, -118.4589)"
9,120908292,2013-03-29,2013-01-15,800,9,Van Nuys,904,668,"EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)",0344 1300,...,NaN,IC,Invest Cont,668.0,NaN,NaN,NaN,7200 SEPULVEDA BL,NaN,"(34.2012, -118.4662)"

In [8]:
# remove spaces in column headers
df.columns=[x.strip().replace(" ","") for x in df.columns]

In [10]:
# display count of unique values in each column
df.nunique()

DRNumber                1876645
DateReported               3264
DateOccurred               3264
TimeOccurred               1438
AreaID                       21
AreaName                     21
ReportingDistrict          1296
CrimeCode                   139
CrimeCodeDescription        149
MOCodes                  420921
VictimAge                    90
VictimSex                     6
VictimDescent                20
PremiseCode                 322
PremiseDescription          322
WeaponUsedCode               80
WeaponDescription            79
StatusCode                    9
StatusDescription             6
CrimeCode1                  146
CrimeCode2                  140
CrimeCode3                   57
CrimeCode4                   11
Address                   73393
CrossStreet               12091
Location                  62625
dtype: int64

### Creating a sub data frame called df_clean that only contains the columns of interests before cleaning the data

In [11]:
# keep 11 columns and delete 15 columns irrelevant for Analysis or missing too much data
df_clean=df[['DRNumber', 'DateOccurred', 'TimeOccurred', 'AreaID',
       'AreaName', 'CrimeCode', 'CrimeCodeDescription',
        'VictimAge', 'VictimSex', 'VictimDescent',
        'Location']]
df_clean.columns

Index(['DRNumber', 'DateOccurred', 'TimeOccurred', 'AreaID', 'AreaName',
       'CrimeCode', 'CrimeCodeDescription', 'VictimAge', 'VictimSex',
       'VictimDescent', 'Location'],
      dtype='object')

In [12]:
# display count of each column in order to see which ones have values missing
df_clean.count()

DRNumber                1876645
DateOccurred            1876645
TimeOccurred            1876645
AreaID                  1876645
AreaName                1876645
CrimeCode               1876645
CrimeCodeDescription    1876283
VictimAge               1728442
VictimSex               1703856
VictimDescent           1703814
Location                1876636
dtype: int64

### Deleting all rows with NaN values

In [13]:
#delete all rows with NaN values

df_clean=df_clean.loc[(~(df["DRNumber"].isna())) &
                (~(df["DateReported"].isna())) &
                (~(df["DateOccurred"].isna())) &
                (~(df["TimeOccurred"].isna())) &
                (~(df["AreaID"].isna())) &
                (~(df["AreaName"].isna())) &
                (~(df["CrimeCode"].isna())) &
                (~(df["CrimeCodeDescription"].isna())) &
                (~(df["VictimAge"].isna())) &
                (~(df["VictimSex"].isna()))&
                (~(df["VictimDescent"].isna())) &
                (~(df["Location"].isna())) ]

In [14]:
#confirm all columns have same # of rows with 301,202 NaN rows removed 

df_clean.count()

DRNumber                1575443
DateOccurred            1575443
TimeOccurred            1575443
AreaID                  1575443
AreaName                1575443
CrimeCode               1575443
CrimeCodeDescription    1575443
VictimAge               1575443
VictimSex               1575443
VictimDescent           1575443
Location                1575443
dtype: int64

In [15]:
df_clean.dtypes

DRNumber                         int64
DateOccurred            datetime64[ns]
TimeOccurred                     int64
AreaID                           int64
AreaName                        object
CrimeCode                        int64
CrimeCodeDescription            object
VictimAge                      float64
VictimSex                       object
VictimDescent                   object
Location                        object
dtype: object

In [16]:
df_clean.to_csv("data/df_clean.csv",index= False)

In [17]:
#create new df to add consolidated Crime Categories into 12 main categories

crime_cat_df= pd.read_excel("crimecode_desc_update.xlsx")
crime_cat_df.head()

                 CrimeCodeDescription     NewCrimeCategory Violent_NonViolent
0            BATTERY - SIMPLE ASSAULT  ASSAULT AND BATTERY            VIOLENT
1               BURGLARY FROM VEHICLE     ROBBERY/BURGLARY            VIOLENT
2                    VEHICLE - STOLEN                THEFT        NON-VIOLENT
3                            BURGLARY     ROBBERY/BURGLARY            VIOLENT
4  THEFT PLAIN - PETTY ($950 & UNDER)                THEFT        NON-VIOLENT

In [18]:
#merge the dataframes based on Crime description in order to add 2 new columns 'NewCrimeCategory' and 'Violent_Non-Violent'

cc_df = df_clean.merge(crime_cat_df, on="CrimeCodeDescription", how="outer")

In [ ]:
crime_perc = cc_df["NewCrimeCategory"].value_counts() / cc_df["NewCrimeCategory"].value_counts()
crime_pc

In [20]:
# Comparison Test to check Area percentages Original df and Clean df with rows with NaN values - no significant impact

print(df.columns)
check1 = df.groupby("AreaName")
total=df["DRNumber"].count()
((check1["DRNumber"].count()/total)*100).sort_values(ascending=False)

Index(['DRNumber', 'DateReported', 'DateOccurred', 'TimeOccurred', 'AreaID',
       'AreaName', 'ReportingDistrict', 'CrimeCode', 'CrimeCodeDescription',
       'MOCodes', 'VictimAge', 'VictimSex', 'VictimDescent', 'PremiseCode',
       'PremiseDescription', 'WeaponUsedCode', 'WeaponDescription',
       'StatusCode', 'StatusDescription', 'CrimeCode1', 'CrimeCode2',
       'CrimeCode3', 'CrimeCode4', 'Address', 'CrossStreet', 'Location'],
      dtype='object')

AreaName
77th Street    6.920968
Southwest      6.438405
N Hollywood    5.415888
Pacific        5.297965
Southeast      5.255336
Mission        4.976434
Northeast      4.779114
Van Nuys       4.748634
Newton         4.704566
Topanga        4.630284
Hollywood      4.622718
Devonshire     4.607904
Olympic        4.491579
Central        4.447618
Harbor         4.396303
West Valley    4.257332
Rampart        4.225679
West LA        4.204418
Wilshire       4.112126
Foothill       3.802158
Hollenbeck     3.664572
Name: DRNumber, dtype: float64

In [21]:
# Comparison Test to check Area percentages Original df and Clean df with rows with NaN values - no significant impact
print(df_clean.columns)
check2 = df_clean.groupby("AreaName")
total=df_clean["DRNumber"].count()
((check2["DRNumber"].count()/total)*100).sort_values(ascending=False)

Index(['DRNumber', 'DateOccurred', 'TimeOccurred', 'AreaID', 'AreaName',
       'CrimeCode', 'CrimeCodeDescription', 'VictimAge', 'VictimSex',
       'VictimDescent', 'Location'],
      dtype='object')

AreaName
77th Street    7.125805
Southwest      6.787615
N Hollywood    5.735974
Southeast      5.311585
Pacific        5.082443
Topanga        4.959621
Mission        4.861109
Van Nuys       4.729400
Central        4.701535
Hollywood      4.650375
Devonshire     4.543294
Northeast      4.525648
Rampart        4.410759
West LA        4.392733
Wilshire       4.348110
Newton         4.333892
Harbor         4.280764
Olympic        4.250804
West Valley    4.098022
Foothill       3.643610
Hollenbeck     3.226902
Name: DRNumber, dtype: float64

In [22]:
cc_df.shape

(1575443, 13)

In [23]:
cc_df.count()

DRNumber                1575443
DateOccurred            1575443
TimeOccurred            1575443
AreaID                  1575443
AreaName                1575443
CrimeCode               1575443
CrimeCodeDescription    1575443
VictimAge               1575443
VictimSex               1575443
VictimDescent           1575443
Location                1575443
NewCrimeCategory        1575443
Violent_NonViolent      1575443
dtype: int64

In [24]:
cc_df.nunique()

DRNumber                1575443
DateOccurred               3264
TimeOccurred               1438
AreaID                       21
AreaName                     21
CrimeCode                   139
CrimeCodeDescription        149
VictimAge                    90
VictimSex                     6
VictimDescent                20
Location                  60926
NewCrimeCategory             12
Violent_NonViolent            2
dtype: int64

In [34]:
cc_df.to_csv("data/df_clean2.csv",index = False)

In [28]:
# Test code to use uszipcode Library to find closest zipcode to lat_lng Location

from uszipcode import SearchEngine
search = SearchEngine(simple_zipcode=True)
zipcodes = search.by_coordinates(lat=34.0516, lng=-118.3809)
if zipcodes:
    print(zipcodes[0])

SimpleZipcode(zipcode='90035', zipcode_type='Standard', major_city='Los Angeles', post_office_city='Los Angeles, CA', common_city_list=['Los Angeles'], county='Los Angeles County', state='CA', lat=34.05, lng=-118.39, timezone='Pacific', radius_in_miles=2.0, area_code_list=['310', '424'], population=28418, population_density=13808.0, land_area_in_sqmi=2.06, water_area_in_sqmi=0.0, housing_units=14030, occupied_housing_units=12814, median_home_value=842500, median_household_income=75863, bounds_west=-118.406643, bounds_east=-118.364894, bounds_north=34.062954, bounds_south=34.04141)

In [29]:
zipcodes[0].common_city_list

['Los Angeles']

In [30]:
zipcodes[0].population

28418

In [ ]:
# Separate Location Column into separate lat_lng coordinates and create zipcode list for 60,926 unique Location coords

from uszipcode import SearchEngine
search = SearchEngine(simple_zipcode=True)

df_coords = cc_df['Location']
zip_codes = []
for coord in df_coords:
    coord = coord.replace(' ', '')[1:-1]
    splits = coord.split(',')
    lat = float(splits[0])
    long = float(splits[1])
    zipcodes = search.by_coordinates(lat=lat, lng=long)
    if zipcodes:
        print(lat, long, zipcodes[0].zipcode)
        zip_codes.append(zipcodes[0].zipcode)
    else:
        zip_codes.append('not found')

In [ ]:
## Mina to add new zipcode_df with Columns 'Zipcode' 'common_city_list' 'population' and lat_lng' to merge with df['Location']
## in order to groupby AreaName and provide population totals based on AreaName