In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [3]:
df_clean=pd.read_csv("data/df_clean.csv")

In [4]:
df_clean["DateOccurred"]=pd.to_datetime(df_clean["DateOccurred"])

In [5]:
df_clean.head()

,Unnamed: 0,DRNumber,DateOccurred,TimeOccurred,AreaID,AreaName,CrimeCode,CrimeCodeDescription,VictimAge,VictimSex,VictimDescent,Location
0,0,1208575,2013-03-11,1800,12,77th Street,626,INTIMATE PARTNER - SIMPLE ASSAULT,30.0,F,W,"(33.9829, -118.3338)"
1,4,42104479,2014-01-04,2300,21,Topanga,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),84.0,M,W,"(34.2009, -118.6369)"
2,5,120125367,2013-01-08,1400,1,Central,110,CRIMINAL HOMICIDE,49.0,F,W,"(34.0591, -118.2412)"
3,9,120908292,2013-01-15,800,9,Van Nuys,668,"EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)",27.0,F,O,"(34.2012, -118.4662)"
4,12,121207315,2013-02-13,1200,12,77th Street,440,THEFT PLAIN - PETTY ($950 & UNDER),42.0,M,H,"(33.9651, -118.2783)"

In [6]:
df_clean.columns

Index(['Unnamed: 0', 'DRNumber', 'DateOccurred', 'TimeOccurred', 'AreaID',
       'AreaName', 'CrimeCode', 'CrimeCodeDescription', 'VictimAge',
       'VictimSex', 'VictimDescent', 'Location'],
      dtype='object')

In [ ]:
areainfo_2017=data_2017_clean.groupby("AreaName")["ReportingDistrict"].count().sort_values(ascending=True).reset_index()
areainfo_2010=data_2010_clean.groupby("AreaName")["ReportingDistrict"].count().sort_values(ascending=True).reset_index()


areainfo_2017.head()

In [ ]:
plt.figure()
plt.bar(range(len(areainfo_2017["AreaID"])), areainfo_2017["ReportingDistrict"])
plt.title("Crime by Area in 2017")
plt.xlabel("")
plt.ylabel("")
plt.grid()
tick_locations = [value for value in np.arange(len(areainfo_2017))]
labels = [values for values in areainfo_2017["AreaID"]]
plt.xticks([value for value in areainfo_2017.index], labels, rotation="vertical")
plt.figure()
plt.bar(range(len(areainfo_2010["AreaID"])), areainfo_2010["ReportingDistrict"])
plt.title("Crime by Area in 2010")
plt.xlabel("")
plt.ylabel("")
plt.grid()
tick_locations = [value for value in np.arange(len(areainfo_2010))]
labels = [values for values in areainfo_2010["AreaID"]]
plt.xticks([value for value in areainfo_2010.index], labels, rotation="vertical")

In [ ]:
areainfo_2017["AreaName"].head()

In [ ]:
plt.figure()
plt.plot(areainfo_2017["AreaName"],areainfo_2017["ReportingDistrict"],label="2017")
plt.plot(areainfo_2017["AreaName"],areainfo_2010["ReportingDistrict"],label="2010")
plt.legend()
plt.xticks(rotation="vertical")
plt.ylim(6000,15000)

In [ ]:
distinfo_2017=data_2017_clean.groupby(["AreaName","ReportingDistrict"]).count()
#distinfo_2010=data_2010_clean.groupby("ReportingDistrict")["ReportingDistrict"].count().sort_values(ascending=True).reset_index()

distinfo_2017