In [1]:
# Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [2]:
# read csv with date columns formated as datetime64

df = pd.read_csv("data/Crime_Data_from_2010_to_Present.csv", parse_dates=['Date Reported', 'Date Occurred'], low_memory=True)

In [ ]:
# display data type format for each column
df.dtypes

In [ ]:
# displays count of rows and columns
df.shape

In [19]:
# display top 10 rows
df.head(50)

,DRNumber,DateReported,DateOccurred,TimeOccurred,AreaID,AreaName,ReportingDistrict,CrimeCode,CrimeCodeDescription,MOCodes,...,WeaponDescription,StatusCode,StatusDescription,CrimeCode1,CrimeCode2,CrimeCode3,CrimeCode4,Address,CrossStreet,Location
0,1208575,2013-03-14,2013-03-11,1800,12,77th Street,1241,626,INTIMATE PARTNER - SIMPLE ASSAULT,0416 0446 1243 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,626.0,NaN,NaN,NaN,6300 BRYNHURST AV,NaN,"(33.9829, -118.3338)"
1,102005556,2010-01-25,2010-01-22,2300,20,Olympic,2071,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,VAN NESS,15TH,"(34.0454, -118.3157)"
2,418,2013-03-19,2013-03-18,2030,18,Southeast,1823,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E 104TH ST,NaN,"(33.942, -118.2717)"
3,101822289,2010-11-11,2010-11-10,1800,18,Southeast,1803,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,88TH,WALL,"(33.9572, -118.2717)"
4,42104479,2014-01-11,2014-01-04,2300,21,Topanga,2133,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329,...,NaN,IC,Invest Cont,745.0,NaN,NaN,NaN,7200 CIRRUS WY,NaN,"(34.2009, -118.6369)"
5,120125367,2013-01-08,2013-01-08,1400,1,Central,111,110,CRIMINAL HOMICIDE,1243 2000 1813 1814 2002 0416 0400,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,110.0,NaN,NaN,NaN,600 N HILL ST,NaN,"(34.0591, -118.2412)"
6,101105609,2010-01-28,2010-01-27,2230,11,Northeast,1125,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,YORK,AVENUE 51,"(34.1211, -118.2048)"
7,101620051,2010-11-11,2010-11-07,1600,16,Foothill,1641,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,EL DORADO,TRUESDALE,"(34.241, -118.3987)"
8,101910498,2010-04-07,2010-04-07,1600,19,Mission,1902,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,GLENOAKS,DRELL,"(34.3147, -118.4589)"
9,120908292,2013-03-29,2013-01-15,800,9,Van Nuys,904,668,"EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)",0344 1300,...,NaN,IC,Invest Cont,668.0,NaN,NaN,NaN,7200 SEPULVEDA BL,NaN,"(34.2012, -118.4662)"
10,101927640,2010-12-31,2010-12-30,2100,19,Mission,1964,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,NORDHOFF,TOBIAS,"(34.2354, -118.4517)"
11,101323794,2010-10-26,2010-10-26,1315,13,Newton,1321,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,21ST,BROADWAY,"(34.0294, -118.2671)"
12,121207315,2013-02-22,2013-02-13,1200,12,77th Street,1266,440,THEFT PLAIN - PETTY ($950 & UNDER),1300 0701 1402,...,NaN,IC,Invest Cont,440.0,998.0,NaN,NaN,82ND,BROADWAY,"(33.9651, -118.2783)"
13,121215506,2013-06-20,2013-06-07,1200,12,77th Street,1268,763,STALKING,0443 0913 1309,...,NaN,AO,Adult Other,763.0,NaN,NaN,NaN,100 W 82ND ST,NaN,"(33.9651, -118.2754)"
14,121504289,2013-01-06,2013-01-06,2030,15,N Hollywood,1511,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),1402 0325,...,NaN,IC,Invest Cont,442.0,998.0,NaN,NaN,13000 SHERMAN WY,NaN,"(34.2012, -118.416)"
15,121801608,2013-01-02,2013-01-01,500,18,Southeast,1823,626,INTIMATE PARTNER - SIMPLE ASSAULT,0334 0443 0408 0416,...,NaN,IC,Invest Cont,626.0,NaN,NaN,NaN,CENTURY BL,AVALON,"(33.9456, -118.2652)"
16,130100507,2013-01-02,2013-01-02,1420,1,Central,174,624,BATTERY - SIMPLE ASSAULT,0416 0400 0429,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,NaN,NaN,NaN,800 S SPRING ST,NaN,"(34.0431, -118.2536)"
17,130100508,2013-01-02,2013-01-02,1430,1,Central,134,626,INTIMATE PARTNER - SIMPLE ASSAULT,2004 1218 1813 1814 2002 0444 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,626.0,NaN,NaN,NaN,4TH,HILL,"(34.0503, -118.2504)"
18,130100509,2013-01-02,2013-01-02,1500,1,Central,185,624,BATTERY - SIMPLE ASSAULT,0917 0419 0429 0417,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",JA,Juv Arrest,624.0,NaN,NaN,NaN,300 E PICO BL,NaN,"(34.0352, -118.2583)"
19,130100515,2013-01-05,2013-01-04,1730,1,Central,162,670,"EMBEZZLEMENT, PETTY THEFT ($950 & UNDER)",0344,...,NaN,IC,Invest Cont,670.0,NaN,NaN,NaN,700 W 7TH ST,NaN,"(34.048, -118.2577)"
20,130100518,2013-01-05,2013-01-05,100,1,Central,171,626,INTIMATE PARTNER - SIMPLE ASSAULT,2000 0416,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,626.0,NaN,NaN,NaN,800 W OLYMPIC BL,NaN,"(34.045, -118.264)"
21,130100519,2013-01-05,2013-01-05,2200,1,Central,192,649,DOCUMENT FORGERY / STOLEN FELONY,0800,...,NaN,IC,Invest Cont,649.0,NaN,NaN,NaN,1300 S FIGUEROA ST,NaN,"(34.0407, -118.268)"
22,130100521,2013-01-05,2013-01-05,1600,1,Central,156,626,INTIMATE PARTNER - SIMPLE ASSAULT,0305 0400 0429 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,626.0,NaN,NaN,NaN,6TH ST,SAN JULIAN ST,"(34.0423, -118.2452)"
23,130100522,2013-01-15,2013-01-05,2010,1,Central,133,624,BATTERY - SIMPLE ASSAULT,0400,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,NaN,NaN,NaN,200 S SPRING ST,NaN,"(34.0517, -118.2456)"
24,130100526,2013-01-06,2013-01-06,2315,1,Central,166,624,BATTERY - SIMPLE ASSAULT,0400 2000,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,999.0,NaN,NaN,600 WALL ST,NaN,"(34.0435, -118.2471)"
25,130100532,2013-01-09,2013-01-09,1120,1,Central,192,626,INTIMATE PARTNER - SIMPLE ASSAULT,2000 0416,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,626.0,NaN,NaN,NaN,1300 S HOPE ST,NaN,"(34.0395, -118.2656)"
26,101009426,2010-04-20,2010-04-20,1230,10,West Valley,1018,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,ARMINTA,GLORIA,"(34.2139, -118.4793)"
27,130100538,2013-01-12,2013-01-11,1630,1,Central,119,480,BIKE - STOLEN,0344,...,NaN,AA,Adult Arrest,480.0,NaN,NaN,NaN,900 N ALAMEDA ST,NaN,"(34.0581, -118.2371)"
28,130100539,2013-01-12,2013-01-12,1815,1,Central,105,210,ROBBERY,1218 1310 0344 0400 0352,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,210.0,NaN,NaN,NaN,BISHOPS,BROADWAY,"(34.0688, -118.2333)"
29,130100544,2013-01-12,2013-01-12,1930,1,Central,144,626,INTIMATE PARTNER - SIMPLE ASSAULT,0400 2000 0429,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,626.0,NaN,NaN,NaN,400 S MAIN ST,NaN,"(34.0482, -118.2472)"
30,130100545,2013-01-13,2013-01-10,300,1,Central,166,821,SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO...,0507 2004 0503 0519 0516 0501 0506 0400,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,821.0,NaN,NaN,NaN,6TH,SAN JULIAN,"(34.0423, -118.2452)"
31,130100546,2013-01-13,2013-01-13,140,1,Central,171,626,INTIMATE PARTNER - SIMPLE ASSAULT,1402 0416 2000,...,NaN,AO,Adult Other,626.0,998.0,NaN,NaN,800 W OLYMPIC BL,NaN,"(34.045, -118.264)"
32,130100547,2013-01-13,2013-01-13,140,1,Central,171,626,INTIMATE PARTNER - SIMPLE ASSAULT,2000 0400 0408,...,NaN,AO,Adult Other,626.0,NaN,NaN,NaN,800 W OLYMPIC BL,NaN,"(34.045, -118.264)"
33,130100548,2013-01-13,2013-01-13,1225,1,Central,134,220,ATTEMPTED ROBBERY,0432 0355 0421 0319 0906,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,220.0,NaN,NaN,NaN,3RD,BROADWAY,"(34.051, -118.248)"
34,130100550,2013-01-18,2013-01-16,1340,1,Central,111,626,INTIMATE PARTNER - SIMPLE ASSAULT,2000 0416 0419,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,626.0,NaN,NaN,NaN,800 YALE ST,NaN,"(34.0632, -118.2408)"
35,130100552,2013-01-16,2013-01-16,1900,1,Central,138,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329 1202 1307,...,NaN,IC,Invest Cont,745.0,NaN,NaN,NaN,BOYD,WALL ST,"(34.0467, -118.2427)"
36,130100554,2013-01-16,2013-01-16,2110,1,Central,159,437,RESISTING ARREST,1402 2004 1212,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,437.0,998.0,NaN,NaN,4TH ST,MOLINO ST,"(34.043, -118.2341)"
37,130100558,2013-01-18,2013-01-18,1800,1,Central,166,888,TRESPASSING,1402 0344 1218 0306,...,NaN,AA,Adult Arrest,888.0,NaN,NaN,NaN,600 S SAN PEDRO ST,NaN,"(34.0423, -118.2452)"
38,130100561,2013-01-19,2013-01-17,2200,1,Central,162,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",1402 0344 0104,...,NaN,IC,Invest Cont,341.0,998.0,NaN,NaN,600 W 9TH ST,NaN,"(34.0451, -118.2604)"
39,130100564,2013-01-20,2013-01-20,1430,1,Central,135,210,ROBBERY,0326 0325 0344 0400 1300 1402,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,210.0,998.0,NaN,NaN,2ND,LOS ANGELES,"(34.0503, -118.2433)"
40,101621795,2010-12-21,2010-12-21,1200,16,Foothill,1653,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,SAN FERNANDO,SUNBURST,"(34.255, -118.4103)"
41,130100565,2013-01-20,2013-01-18,1700,1,Central,182,660,COUNTERFEIT,0344 1402,...,NaN,IC,Invest Cont,660.0,998.0,NaN,NaN,500 W OLYMPIC BL,NaN,"(34.043, -118.2606)"
42,101105990,2010-02-04,2010-02-03,1800,11,Northeast,1115,510,VEHICLE - STOLEN,NaN,...,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,YOSEMITE,EAGLE ROCK,"(34.1351, -118.2153)"
43,130100566,2013-01-20,2013-01-20,1855,1,Central,111,624,BATTERY - SIMPLE ASSAULT,0429 0305 0400,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,NaN,NaN,NaN,900 N BROADWAY,NaN,"(34.064, -118.2375)"
44,130100569,2013-01-22,2013-01-21,1055,1,Central,147,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",2004 0416,...,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,230.0,NaN,NaN,NaN,4TH,SAN PEDRO,"(34.0458, -118.243)"
45,130100571,2013-01-22,2013-01-21,2105,1,Central,111,647,THROWING OBJECT AT MOVING VEHICLE,NaN,...,NaN,IC,Invest Cont,647.0,NaN,NaN,NaN,900 W SUNSET BL,NaN,"(34.0627, -118.2463)"
46,130100572,2013-01-22,2013-01-21,2015,1,Central,166,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0416 2004,...,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,230.0,NaN,NaN,NaN,7TH,WALL,"(34.0412, -118.2474)"
47,130100573,2013-01-22,2013-01-22,300,1,Central,119,951,"DEFRAUDING INNKEEPER/THEFT OF SERVICES, $400 &...",NaN,...,NaN,IC,Invest Cont,951.0,NaN,NaN,NaN,500 RAMIREZ ST,NaN,"(34.0552, -118.2322)"
48,130100580,2013-01-26,2013-01-26,1530,1,Central,145,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,1000 0334 0432 0340 2004 0319 1402,...,OTHER KNIFE,AA,Adult Arrest,930.0,998.0,NaN,NaN,MAIN,WINSTON,"(34.0476, -118.2477)"
49,130100583,2013-01-25,2013-01-25,2305,1,Central,185,210,ROBBERY,1402 0344,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,210.0,998.0,NaN,NaN,100 W OLYMPIC BL,NaN,"(34.0405, -118.2567)"

In [3]:
# remove spaces in column headers
df.columns=[x.strip().replace(" ","") for x in df.columns]

In [4]:
# display count of unique values in each column
df.nunique()

DRNumber                1872169
DateReported               3257
DateOccurred               3257
TimeOccurred               1438
AreaID                       21
AreaName                     21
ReportingDistrict          1296
CrimeCode                   139
CrimeCodeDescription        149
MOCodes                  419742
VictimAge                    90
VictimSex                     6
VictimDescent                20
PremiseCode                 322
PremiseDescription          322
WeaponUsedCode               80
WeaponDescription            79
StatusCode                    9
StatusDescription             6
CrimeCode1                  146
CrimeCode2                  140
CrimeCode3                   57
CrimeCode4                   11
Address                   73355
CrossStreet               12074
Location                  62601
dtype: int64

### Creating a sub data frame called df_clean that only contains the columns of interests before cleaning the data

In [5]:
# keep 11 columns and delete 15 columns irrelevant for Analysis or missing too much data
df_clean=df[['DRNumber', 'DateOccurred', 'TimeOccurred', 'AreaID',
       'AreaName', 'CrimeCode', 'CrimeCodeDescription',
        'VictimAge', 'VictimSex', 'VictimDescent',
        'Location']]
df_clean.columns

Index(['DRNumber', 'DateOccurred', 'TimeOccurred', 'AreaID', 'AreaName',
       'CrimeCode', 'CrimeCodeDescription', 'VictimAge', 'VictimSex',
       'VictimDescent', 'Location'],
      dtype='object')

In [6]:
# display count of each column in order to see which ones have values missing
df_clean.count()

DRNumber                1872169
DateOccurred            1872169
TimeOccurred            1872169
AreaID                  1872169
AreaName                1872169
CrimeCode               1872169
CrimeCodeDescription    1871807
VictimAge               1724258
VictimSex               1699798
VictimDescent           1699756
Location                1872160
dtype: int64

### Deleting all rows with NaN values

In [7]:
#delete all rows with NaN values

df_clean=df_clean.loc[(~(df["DRNumber"].isna())) &
                (~(df["DateReported"].isna())) &
                (~(df["DateOccurred"].isna())) &
                (~(df["TimeOccurred"].isna())) &
                (~(df["AreaID"].isna())) &
                (~(df["AreaName"].isna())) &
                (~(df["CrimeCode"].isna())) &
                (~(df["CrimeCodeDescription"].isna())) &
                (~(df["VictimAge"].isna())) &
                (~(df["VictimSex"].isna()))&
                (~(df["VictimDescent"].isna())) &
                (~(df["Location"].isna())) ]

In [8]:
#confirm all columns have same # of rows with 301,202 NaN rows removed 

df_clean.count()

DRNumber                1571677
DateOccurred            1571677
TimeOccurred            1571677
AreaID                  1571677
AreaName                1571677
CrimeCode               1571677
CrimeCodeDescription    1571677
VictimAge               1571677
VictimSex               1571677
VictimDescent           1571677
Location                1571677
dtype: int64

In [ ]:
df_clean.dtypes

In [ ]:
df_clean.to_csv("data/df_clean.csv",index= False)

In [9]:
#create new df to add consolidated Crime Categories into 12 main categories

crime_cat_df= pd.read_excel("crimecode_desc_update.xlsx")
crime_cat_df.head()

                 CrimeCodeDescription     NewCrimeCategory Violent_NonViolent
0            BATTERY - SIMPLE ASSAULT  ASSAULT AND BATTERY            VIOLENT
1               BURGLARY FROM VEHICLE     ROBBERY/BURGLARY            VIOLENT
2                    VEHICLE - STOLEN                THEFT        NON-VIOLENT
3                            BURGLARY     ROBBERY/BURGLARY            VIOLENT
4  THEFT PLAIN - PETTY ($950 & UNDER)                THEFT        NON-VIOLENT

In [10]:
#merge the dataframes based on Crime description in order to add 2 new columns 'NewCrimeCategory' and 'Violent_Non-Violent'

cc_df = df_clean.merge(crime_cat_df, on="CrimeCodeDescription", how="outer")

In [ ]:
crime_perc = cc_df["NewCrimeCategory"].value_counts() / cc_df["NewCrimeCategory"].value_counts()
crime_perc

In [ ]:
# Comparison Test to check Area percentages Original df and Clean df with rows with NaN values - no significant impact

print(df.columns)
check1 = df.groupby("AreaName")
total=df["DRNumber"].count()
((check1["DRNumber"].count()/total)*100).sort_values(ascending=False)

In [ ]:
# Comparison Test to check Area percentages Original df and Clean df with rows with NaN values - no significant impact
print(df_clean.columns)
check2 = df_clean.groupby("AreaName")
total=df_clean["DRNumber"].count()
((check2["DRNumber"].count()/total)*100).sort_values(ascending=False)

In [11]:
cc_df.shape

(1571677, 13)

In [ ]:
cc_df.count()

In [12]:
cc_df.nunique()

DRNumber                1571677
DateOccurred               3257
TimeOccurred               1438
AreaID                       21
AreaName                     21
CrimeCode                   139
CrimeCodeDescription        149
VictimAge                    90
VictimSex                     6
VictimDescent                20
Location                  60902
NewCrimeCategory             12
Violent_NonViolent            2
dtype: int64

In [ ]:
cc_df.to_csv("data/df_clean2.csv",index = False)

In [22]:
# Test code to use uszipcode Library to find closest zipcode to lat_lng Location

from uszipcode import SearchEngine
search = SearchEngine(simple_zipcode=True)
zipcodes = search.by_coordinates(lat=34.0516, lng=-118.3809)
if zipcodes:
    print(zipcodes[0])

SimpleZipcode(zipcode='90035', zipcode_type='Standard', major_city='Los Angeles', post_office_city='Los Angeles, CA', common_city_list=['Los Angeles'], county='Los Angeles County', state='CA', lat=34.05, lng=-118.39, timezone='Pacific', radius_in_miles=2.0, area_code_list=['310', '424'], population=28418, population_density=13808.0, land_area_in_sqmi=2.06, water_area_in_sqmi=0.0, housing_units=14030, occupied_housing_units=12814, median_home_value=842500, median_household_income=75863, bounds_west=-118.406643, bounds_east=-118.364894, bounds_north=34.062954, bounds_south=34.04141)

In [33]:
zipcodes[0]

SimpleZipcode(zipcode='90035', zipcode_type='Standard', major_city='Los Angeles', post_office_city='Los Angeles, CA', common_city_list=['Los Angeles'], county='Los Angeles County', state='CA', lat=34.05, lng=-118.39, timezone='Pacific', radius_in_miles=2.0, area_code_list=['310', '424'], population=28418, population_density=13808.0, land_area_in_sqmi=2.06, water_area_in_sqmi=0.0, housing_units=14030, occupied_housing_units=12814, median_home_value=842500, median_household_income=75863, bounds_west=-118.406643, bounds_east=-118.364894, bounds_north=34.062954, bounds_south=34.04141)

In [ ]:
zipcodes[0].common_city_list

In [ ]:
zipcodes[0].population

In [21]:
# Separate Location Column into separate lat_lng coordinates and create zipcode list for 60,926 unique Location coords

from uszipcode import SearchEngine
search = SearchEngine(simple_zipcode=True)
i=0
j=0
df_coords = cc_df['Location']
zip_codes = []
for coord in df_coords:
    coord = coord.replace(' ', '')[1:-1]
    splits = coord.split(',')
    lat = float(splits[0])
    long = float(splits[1])
    zipcodes = search.by_coordinates(lat=lat, lng=long)
    if zipcodes:
        i+=1
        #print(lat, long, zipcodes[0].zipcode)
        zip_codes.append(zipcodes[0].zipcode)
    else:
        j+=1
        zip_codes.append('not found')
print(i) 
print(j)

KeyboardInterrupt:

In [ ]:
## Mina to add new zipcode_df with Columns 'Zipcode' 'common_city_list' 'population' and lat_lng' to merge with df['Location']
## in order to groupby AreaName and provide population totals based on AreaName

In [14]:
cc_df.nunique()

DRNumber                1571677
DateOccurred               3257
TimeOccurred               1438
AreaID                       21
AreaName                     21
CrimeCode                   139
CrimeCodeDescription        149
VictimAge                    90
VictimSex                     6
VictimDescent                20
Location                  60902
NewCrimeCategory             12
Violent_NonViolent            2
dtype: int64

In [16]:
len(df_coords)

1571677