In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [2]:
df=pd.read_csv("data/Crime_Data_from_2010_to_Present.csv")

In [3]:
df.columns=[x.strip().replace(" ","") for x in df.columns]

### Creating a sub data frame called df_clean that only contains the columns of interests before cleaning the data

In [4]:
df_clean=df[['DRNumber','DateOccurred', 'TimeOccurred', 'AreaID',
       'AreaName', 'CrimeCode', 'CrimeCodeDescription',
        'VictimAge', 'VictimSex', 'VictimDescent',
        'Location']]
df_clean.columns

Index(['DRNumber', 'DateOccurred', 'TimeOccurred', 'AreaID', 'AreaName',
       'CrimeCode', 'CrimeCodeDescription', 'VictimAge', 'VictimSex',
       'VictimDescent', 'Location'],
      dtype='object')

In [5]:
df_clean.count()

DRNumber                1876645
DateOccurred            1876645
TimeOccurred            1876645
AreaID                  1876645
AreaName                1876645
CrimeCode               1876645
CrimeCodeDescription    1876283
VictimAge               1728442
VictimSex               1703856
VictimDescent           1703814
Location                1876636
dtype: int64

### Deleting all rows with NaN values

In [6]:
df_clean=df_clean.loc[(~(df["DRNumber"].isna())) &
                (~(df["DateOccurred"].isna())) &
                (~(df["TimeOccurred"].isna())) &
                (~(df["AreaID"].isna())) &
                (~(df["AreaName"].isna())) &
                (~(df["CrimeCode"].isna())) &
                (~(df["CrimeCodeDescription"].isna())) &
                (~(df["VictimAge"].isna())) &
                (~(df["VictimSex"].isna()))&
                (~(df["VictimDescent"].isna())) &
                (~(df["Location"].isna())) ]

In [7]:
df_clean.count()

DRNumber                1575443
DateOccurred            1575443
TimeOccurred            1575443
AreaID                  1575443
AreaName                1575443
CrimeCode               1575443
CrimeCodeDescription    1575443
VictimAge               1575443
VictimSex               1575443
VictimDescent           1575443
Location                1575443
dtype: int64

In [8]:
df_clean.dtypes

DRNumber                  int64
DateOccurred             object
TimeOccurred              int64
AreaID                    int64
AreaName                 object
CrimeCode                 int64
CrimeCodeDescription     object
VictimAge               float64
VictimSex                object
VictimDescent            object
Location                 object
dtype: object

In [9]:
df_clean.to_csv("data/df_clean.csv",index= False)

In [12]:
crime_cat_df= pd.read_excel("crimecode_desc_update.xlsx")
crime_cat_df.head()

                 CrimeCodeDescription     NewCrimeCategory Violent_NonViolent
0            BATTERY - SIMPLE ASSAULT  ASSAULT AND BATTERY            VIOLENT
1               BURGLARY FROM VEHICLE     ROBBERY/BURGLARY            VIOLENT
2                    VEHICLE - STOLEN                THEFT        NON-VIOLENT
3                            BURGLARY     ROBBERY/BURGLARY            VIOLENT
4  THEFT PLAIN - PETTY ($950 & UNDER)                THEFT        NON-VIOLENT

In [13]:
cc_df = df_clean.merge(crime_cat_df, on="CrimeCodeDescription", how="outer")

In [14]:
cc_df["NewCrimeCategory"].value_counts()

ROBBERY/BURGLARY            355027
THEFT                       336158
ASSAULT AND BATTERY         278675
OTHER NON-VIOLENT CRIMES    173235
VANDALISM                   159752
IDENTITY THEFT              113512
AGGRAVATED ASSAULT           92453
OTHER VIOLENT CRIMES         25787
RAPE/SEXUAL ASSAULT          19290
CRIMES AGAINST CHILDREN      10545
OTHER SEX CRIMES              8572
HOMICIDE                      2437
Name: NewCrimeCategory, dtype: int64

In [15]:
cc_df.shape

(1575443, 13)

In [16]:
cc_df.to_csv("data/df_clean2.csv",index = False)

In [17]:
cc_df.count()

DRNumber                1575443
DateOccurred            1575443
TimeOccurred            1575443
AreaID                  1575443
AreaName                1575443
CrimeCode               1575443
CrimeCodeDescription    1575443
VictimAge               1575443
VictimSex               1575443
VictimDescent           1575443
Location                1575443
NewCrimeCategory        1575443
Violent_NonViolent      1575443
dtype: int64